{% load static %}
<!-- para trabajar con todo lo que sea estatico -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>Inmuebles</title>

</head>

<body>
    <!-- Modularizacion o include del navbar -->
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    <!-- Autentificador del user_profile rol y modularizacion de filtros -->
    {% if user.is_authenticated and user.user_profile.rol == 'arrendatario' and request.path == '/index' %}
    {% block filtros %}
    {% include 'filtros/nav_filtros.html' %}
    {% endblock %}
    {% endif %}
    

    {% block content %}
    {% endblock %}

    <!-- Modularizacion o include del footer -->
    {% block footer%}
    {% include 'footer.html' %}
    {% endblock %}

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/temporal.js' %}"></script>
</body>

</html>
